link-base "https://fmod.com/resources/documentation-api?version=2.02&page="
image-base "https://fmod.com/docs/2.02/api/"



// core/README.md
job "core-guide.html" "core/README.md" {
    // Rename main header
    replace "# Core API Guide" "# Core API"
    // improve tables
    replace r" x " " × "
    // adjust language so we don't imply we are an official product
    replace "our parter plugins" "FMOD's partner plugins"
    // link to ReverProperties constants impl block
    replace r"pre-set list of environments in \[ReverbProperties\]\(ReverbProperties" "$0#impl-1"
    // Escape literal []
    replace r"FMOD_\[CompanyName\]_\[ProductName\]_Get\[PluginType\]Description" r"FMOD_\[CompanyName\]_\[ProductName\]_Get\[PluginType\]Description"
}

// studio/README.md
job "studio-guide.html" "studio/README.md" {
    // Rename main header
    replace "# Studio API Guide" "# Studio API"
}

// platform/Windows.md
job "platforms-win.html" "platform/Windows.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"

    // FMOD.rs notes
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodL.lib</code> or
<code>fmod.lib</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="### COM" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodstudioL.lib</code>
or <code>fmodstudio.lib</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
    insert before="To ensure correct behavior FMOD assumes" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs does not handle COM initialization (it relies on the above on-demand
initialization done by the FMOD Engine), so if you want to silence this warning,
you will need to initialize COM yourself.
</pre>

"#
    insert before="### Thread Affinity" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs does not attempt to restrict the first use of these functions to the UI
thread. This is a concession to cross-platform usability rather than a niche
theoretical concern on an out-of-mainstream-support Windows.
</pre>

"#
}

// platform/macOS.md
job "platforms-mac.html" "platform/macOS.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"

    // FMOD.rs notes
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodL.dylib</code> or
<code>fmod.dylib</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="### Latency" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodstudioL.dylib</code>
or <code>fmodstudio.dylib</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
    replace "(?s)``````````cpp\nAudioUnit audioUnit;.*?``````````" r#"
```rust,ignore
let audio_unit = system.get_output_handle() as *mut AudioUnit;

let mut audio_device_id: AudioDeviceID = mem::zeroed();
let mut audio_device_id_size = mem::size_of::<AudioDeviceID>();
AudioToolbox::AudioUnitGetProperty(
    audio_unit,
    kAudioOutputUnitProperty_CurrentDevice,
    kAudioUnitScope_Global,
    0,
    &mut audio_device_id,
    &mut audio_device_id_size,
);

let mut bufer_frame_size: u32 = 256;
CoreAudio::AudioDeviceSetProperty(
    audio_device_id,
    ptr::null(),
    0,
    false,
    kAudioDevicePropertyBufferFrameSize,
    mem::size_of::<u32>(),
    &mut buffer_frame_size,
);
```

<pre class="ignore" style="white-space:normal;font:inherit;">
<a href="https://developer.apple.com/documentation/coreaudio/1580742-audiodevicesetproperty?language=objc"><code>AudioDeviceSetProperty</code></a>
was deprecated in macOS 10.6 (2009, Snow Leopard) and never exposed to Swift.
This is probably a bad idea. Using <a href="https://developer.apple.com/documentation/audiotoolbox/1440371-audiounitsetproperty/"><code>AudioUnitSetProperty</code></a>
or <a href="https://developer.apple.com/documentation/avfaudio/avaudiosession/1616589-setpreferrediobufferduration"><code>setPreferredIOBufferDuration</code></a>
may be preferable.
</pre>
"#
}

// platform/Linux.md
job "platforms-linux.html" "platform/Linux.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"

    // FMOD.rs notes
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodL.so</code> or
<code>libfmod.so</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="### Device Selection" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodstudioL.so</code>
or <code>libfmodstudio.so</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
}

// platform/iOS.md
job "platforms-ios.html" "platform/iOS.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"
    replace r"(\n.*?)Apple libraries" "$1#### Apple libraries"

    // FMOD.rs notes
    insert before="## iOS Specific Starter Guide" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs is not tested to work on or even compile for iOS.
</pre>

"#
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodL.a</code> or
<code>libfmod.a</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="#### Apple libraries" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodstudioL.a</code>
or <code>libfmodstudio.a</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
    insert before="### Hardware Decoding" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs does not link the above frameworks; it is your responsibility to ensure
that these frameworks are linked properly.
</pre>

"#
}

// platform/Android.md
job "platforms-android.html" "platform/Android.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"

    // FMOD.rs notes
    insert before="## Android Specific Starter Guide" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs is not tested to work on or even compile for Android.
</pre>

"#
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodL.so</code> or
<code>libfmod.so</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="### Java" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>libfmodstudioL.so</code>
or <code>libfmodstudio.so</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
}


// platform/UWP.md
job "platforms-uwp.html" "platform/UWP.md" {
    // More headings
    replace r"(\n.*?)FMOD Core Engine library" "$1#### FMOD Core Engine library"
    replace r"(\n.*?)FMOD Studio Engine library" "$1#### FMOD Studio Engine library"

    // FMOD.rs notes
    insert before="#### FMOD Studio Engine library" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodL.lib</code> or
<code>fmod.lib</code> depending on whether <code>cfg(debug_assertions)</code>
is true or false, respectively.
</pre>

"#
    insert before="### Plugins" r#"
<pre class="ignore" style="white-space:normal;font:inherit;">
FMOD.rs searches <code>$CARGO_MANIFEST_DIR/lib/$CARGO_CFG_TARGET_ARCH/</code>
using Cargo standard search path manipulation for <code>fmodstudioL.lib</code>
or <code>fmodstudio.lib</code> depending on whether
<code>cfg(debug_assertions)</code> is true or false, respectively.
</pre>

"#
}


// fix code block indentation
replace r" +```" "```"

// strip heading numbers
replace r"# (?:\d+\.?){1,3} " "# "

// rename studio namespace
replace "Studio::" "studio::"

// map fmod.cpp names to fmod.rs names
// keep this list alphabetized, and use \b when one is a substring of another
replace r"FMOD_3D\b" "Mode::D3"
replace r"FMOD_3D_ROLLOFF_CALLBACK" "raw::FMOD_3D_ROLLOFF_CALLBACK"
replace r"FMOD_ADVANCEDSETTINGS" "AdvancedSettings"
replace r"FMOD_ASYNCREADINFO" "AsyncReadInfo"
replace r"FMOD_CREATECOMPRESSEDSAMPLE" "Mode::CreateCompressedSample"
replace r"FMOD_CREATESOUNDEXINFO" "CreateSoundExInfo"
replace r"FMOD_CREATESTREAM" "Mode::CreateStream"
replace r"FMOD_DSP_DESCRIPTION" "DspDescription"
replace r"FMOD_DSP_PARAMETER_3DATTRIBUTES\b" "raw::FMOD_DSP_PARAMETER_3DATTRIBUTES"
replace r"FMOD_DSP_PARAMETER_3DATTRIBUTES_MULTI" "raw::FMOD_DSP_PARAMETER_3DATTRIBUTES_MULTI"
replace r"FMOD_DSP_PARAMETER_DATA_TYPE_3DATTRIBUTES\b" "raw::FMOD_DSP_PARAMETER_DATA_TYPE_3DATTRIBUTES"
replace r"FMOD_DSP_PARAMETER_DATA_TYPE_3DATTRIBUTES_MULTI" "raw::FMOD_DSP_PARAMETER_DATA_TYPE_3DATTRIBUTES_MULTI"
replace r"FMOD_DSP_TYPE\b" "DspType"
replace r"FMOD_DSP_TYPE_CONVOLUTIONREVERB" "DspType::ConvolutionReverb"
replace r"FMOD_ERR_OUTPUT_INIT" "Error::OutputInit"
replace r"FMOD_ERR_PLUGIN_MISSING" "Error::PluginMissing"
replace r"FMOD_INIT_3D_RIGHTHANDED" "InitFlags::RightHanded3d"
replace r"FMOD_INIT_PREFER_DOLBY_DOWNMIX" "InitFlags::PreferDolbyDownmix"
replace r"FMOD_NONBLOCKING" "Mode::NonBlocking"
replace r"FMOD_OPENMEMORY_POINT" "OpenMemory::Point"
replace r"FMOD_REVERB_PRESETS" "ReverbProperties"
replace r"FMOD_SOUND_TYPE" "SoundType"
replace r"FMOD_SPEAKER\b" "Speaker"
replace r"FMOD_SPEAKERMODE" "SpeakerMode"
replace r"FMOD_SYSTEM_CALLBACK_DEVICELISTCHANGED" "raw::FMOD_SYSTEM_CALLBACK_DEVICELISTCHANGED"
replace r"FMOD_THREAD_AFFINITY_CORE_ALL" "ThreadAffinity::CoreAll"
replace r"FMOD_THREAD_PRIORITY_CRITICAL" "ThreadPriority::Critical"
replace r"FMOD_THREAD_PRIORITY_EXTREME" "ThreadPriority::Extreme"
replace r"FMOD_THREAD_PRIORITY_HIGH" "ThreadPriority::High"
replace r"FMOD_THREAD_PRIORITY_LOW" "ThreadPriority::Low"
replace r"FMOD_THREAD_PRIORITY_MEDIUM" "ThreadPriority::Medium"
replace r"FMOD_THREAD_PRIORITY_VERY_HIGH" "ThreadPriority::VeryHigh"
replace r"Memory_Initialize" "raw::FMOD_Memory_Initialize"
replace r"System::create\b" "System::new"
replace r"System_Create" "System::new"
replace r"Thread_SetAttributes" "raw::FMOD_Thread_SetAttributes"
replace r"addDSP" "add_dsp"
replace r"addInput" "add_input"
replace r"addPolygon" "add_polygon"
replace r"calculatePannerAttributes" "calculate_panner_attributes"
replace r"createDSP" "create_dsp"
replace r"createDSPByType" "create_dsp_by_type"
replace r"createGeometry" "create_geometry"
replace r"createReverb3D" "create_reverb_3d"
replace r"createSound" "create_sound"
replace r"createStream" "create_stream"
replace r"decodeBufferSize" "decode_buffer_size"
replace r"defaultDecodeBufferSize" "default_decode_buffer_size"
replace r"disconnectFrom" "disconnect_from"
replace r"getDriverInfo" "get_driver_info"
replace r"getMasterChannelGroup" "get_master_channel_group"
replace r"getNumDrivers" "get_num_drivers"
replace r"getSubSound" "get_sub_sound"
replace r"loadPlugin" "load_plugin"
replace r"playDSP" "play_dsp"
replace r"playSound" "play_sound"
replace r"recordStart" "record_start"
replace r"registerCodec" "register_codec"
replace r"registerDSP" "register_dsp"
replace r"registerOutput" "register_output"
replace r"set3DAttributes" "set_3d_attributes"
replace r"set3DCustomRolloff" "set_3d_custom_rolloff"
replace r"set3DListenerAttributes" "set_3d_listener_attributes"
replace r"set3DSpread" "set_3d_spread"
replace r"setAdvancedSettings" "set_advanced_settings"
replace r"setDSPBufferSize" "set_dsp_buffer_size"
replace r"setDriver" "set_driver"
replace r"setFileSystem" "set_file_system"
replace r"setMixMatrix" "set_mix_matrix"
replace r"setMode" "set_mode"
replace r"setOutput" "set_output"
replace r"setParameterData" "set_parameter_data"
replace r"setProperties" "set_properties"
replace r"setReverbProperties" "set_reverb_properties"
replace r"setSoftwareFormat" "set_software_format"
replace r"setStreamBufferSize" "set_stream_buffer_size"

// be careful renaming these methods; they're used in non-Rust codeblocks
// eventually we should replace all of these
replace ":mixerResume" ":mixer_resume"
replace ":mixerSuspend" ":mixer_suspend"

// be careful renaming the DSP type; we don't want to touch DSP in text
replace "`DSP" "`Dsp"
replace r"\]\(DSP" "](Dsp"
